.container{
    max-width: 350px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.con :hover > .text-container{
    top: 57%;
    transition: all 0.5s ease-in-out;
}

img{
    width: 350px;
    height: 500px;
}

.text-container{
    position: absolute;
    top: 84%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,0.9);
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

h1{
    color: black;
    text-transform: uppercase;
    font-size: 24px;
}
h2{
    font-size: 18px;
    color: blueviolet;
}
span{
    text-align: center;
    display: block;
}
p{
    text-align: justify;
    margin: 5px 0;
}
button{
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    bo
}